
<!-- <div class="items-container">
    <div class="item">
                <p class="title">{{ allItems.title }}</p>
               <p class="cat">Category: {{ allItems.category_id.type }}</p> <br>
                description: {{allItems.description}}<br>
                dimensions: {{allItems.dimensions}}<br>
                category: {{ allItems.category_id.type }}<br>
                manufacturer: {{allItems.manufacturer}}<br>
                status id: {{allItems.status_id}}<br>
                price: {{allItems.price}}<br>
                notes: {{allItems.notes}}<br>
                published at: {{allItems.published_at}}<br>
                last updated at: {{allItems.updated_at}}<br>
            </div>
</div> -->

{{ allItems | json }}