<!-- {{ allItems | json }} -->
{{ allCategories | json }}

<div class="items-container">
    <div *ngFor="let ite of allItems" class="item">
        <h3> {{ite.category_id.type}} </h3>
        <p class="title">{{ ite.title }}</p>
        description: {{ite.description}}<br>
        dimensions: {{ite.dimensions}}<br>
        manufacturer: {{ite.manufacturer}}<br>
        status id: {{ite.status_id}}<br>
        price: {{ite.price}}<br>
        notes: {{ite.notes}}<br>
        published at: {{ite.published_at}}<br>
        last updated at: {{ite.updated_at}}<br>
    </div>
</div>