.items-container{
    padding: 15px;
}
.item{
    text-align: center;
    // border: solid black 2px;
    width: 25%;
    margin-left: 950px;
    padding: 10px;
    border-left: solid black;
    border-top: solid black; 
}
.title{
    font-size: 25px;
}