<div class="electro-container">
        <h3> Electronics </h3>
        <div class="elector" *ngFor="let ele of electro">
            <p class="title">{{ ele.title }}</p>
            description: {{ ele.description }}<br>
            dimensions: {{ ele.dimensions }}<br>
            category: {{ ele.category_id.type }}<br>
            status: {{ele.itemStatus_id.name}}<br>
            manufacturer: {{ ele.manufacturer }}<br>
            status id: {{ ele.status_id }}<br>
            price: {{ ele.price }}<br>
            notes: {{ ele.notes }}<br>
            published at: {{ ele.published_at }}<br>
            last updated at: {{ ele.updated_at }}<br>
        </div>
    </div>
    
    