{{ item | json }}
<!-- <div class="items-container">
    <div *ngFor="let it of item" class="item">
        <p class="title">{{ it.title }}</p>
        description: {{ it.description }}<br>
        dimensions: {{ it.dimensions }}<br>
        manufacturer: {{ it.manufacturer }}<br>
        status id: {{ it.status_id }}<br>
        price: {{ it.price }}<br>
        notes: {{ it.notes }}<br>
        published at: {{ it.published_at }}<br>
        last updated at: {{ it.updated_at }}<br>
    </div>
</div> -->

