<div class="users-container">
    <div *ngFor='let ite of items' class="items">
        <div class="item-info">
            title: Macbook pro
            <!-- {{ ite.title }}  -->
        </div>
        <hr>
        <div class="item-info2">
            price: $7000.99
            <!-- {{ ite.price }} -->
        </div>
        <div class="item-info3">
            decription: Macbook Pro 15 in.
            <!-- {{ ite.description }} -->
        </div>
        <div class="item-info4">
            notes: Best on the market, as cheap as can get.
            <!-- {{ ite.notes }} -->
        </div>
    </div>
</div>