<div class="header">
  <div class="login">
      <h2><a routerLink= "" (click)="userLoginButtonPressed()">User Login</a></h2>
      <form *ngIf="loginPressed">
          <label for="username">Username</label>
          <input type="text"  name="username" id="username" [(ngModel)]="username">
          <label for="password">Password</label>
          <input type="text" name="password" id="password" [(ngModel)]="password">
          <button (click)="userLogin()">Submit</button>
          </form>
        </div>
<div class="register">
      <h2><a *ngIf="!isLoggedIn" routerLink="/register">Register New User</a></h2>
    </div>
<div class="categories">
      <h2><a routerLink="/categories">Categories</a></h2>
    </div>
      
      <div class="search">
      <form>
          <label for="search">Search</label>
          <input type="text" name="search" id="search" (input)="itemSearch()" [(ngModel)]="search">
          <div *ngFor="let item of items">
            {{item.name}}
          </div>
        </form>
      </div>
      <div class="logout">
      <h2><a *ngIf="isLoggedIn" (click)="logout()">Log Out</a></h2>
    </div>
</div>