div.header{
  justify-content: flex-end;
  background-color: lightgray;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  border-bottom: 1px solid black;

}

h2{
  text-align: center;
  margin: 20px;
  text-decoration: none;
}

form{
  display: flex;
  flex-direction: column;
  margin:10px;
}

button{
  margin:10px;
  border: solid red;
}

.search{
  width: 30%;
}