div.header{
  margin-left: 650px;
  display:flex;
  flex-flow: row wrap;
  padding: 0;
  text-decoration: none;
}

h2{
  text-align: center;
  margin: 20px;
  text-decoration: none;
}

form{
  display: flex;
  flex-direction: column;
  margin:10px;
}

button{
  margin:10px;
  border: solid red;
}

.search{
  width: 30%;
}