<h1>Add New Item</h1>
<div>
<form name="addNewItem">
  <label for="title" class="title" id="title" >Title:</label>
  <input type="text" name="title" id="title" [(ngModel)]="addNewItemForm.title">
  <br>
  <label for="category" id="category">Category:</label>
  <select name="category_id" id="category" [(ngModel)]="addNewItemForm.category_id">
  <option value="1">Auto</option>
  <option value="2">Clothing</option>
  <option value="3">Electronics</option>
  <option value="4">General</option>
  <option value="5">Service</option>
</select>
<br>
<label for="condition" id="condition">Condition:</label>
<select name="condition_id" id="condition" [(ngModel)]="addNewItemForm.condition_id">
<option value="1">New</option>
<option value="2">Used</option>
<option value="3">Excellent</option>
<option value="4">Fair</option>
<option value="5">Average</option>
<option value="6">Salvage</option>
<option value="7">None</option>
</select>
<br>
<label for="itemStatus" id="itemStatus">Status:</label>
<select name="status_id" id="itemStatus" [(ngModel)]="addNewItemForm.status_id">
  <option value="1">Sold</option>
  <option value="2">For Sale</option>
  <option value="3">Unpublished</option>
  <option value="4">Deleted</option>
</select>
<br>
<label for="price" class="price" id="price">Price:</label>
<input type="text" class="price" id="price" name="price" [(ngModel)]="addNewItemForm.price">
<br>
<label for="dimensions" class="dimensions" id="dimensions">Dimensions:</label>
<input type="text" name="dimensions" id="dimensions"  [(ngModel)]="addNewItemForm.dimensions">
<br>
<label for="manufacturer" class="manufacturer" id="manufacturer">Manufacturer(255 words or less):</label>
<input type="text" name="manufacturer" id="manufacturer" [(ngModel)]="addNewItemForm.manufacturer">
<br>
<label for="description" class="description" id="description" >Description(255 words or less):</label>
<input type="text" class="description" id="description" name="description" [(ngModel)]="addNewItemForm.description">
<br>
<label for="notes" class="notes" id="notes">Notes:</label>
<input type="text" name="notes" id="notes" [(ngModel)]="addNewItemForm.notes" >
<button (click)="submitNewItem()">Submit</button>
</form> 
</div>