<div class="clothing-container">
        <h3> Clothing </h3>
        <div class="clothing" *ngFor="let item of clothes">
            <p class="title">{{ item.title }}</p>
            description: {{ item.description }}<br>
            dimensions: {{ item.dimensions }}<br>
            category: {{ item.category_id.type }}<br>
            status: {{item.itemStatus_id.name}}<br>
            manufacturer: {{ item.manufacturer }}<br>
            status id: {{ item.status_id }}<br>
            price: {{ item.price }}<br>
            notes: {{ item.notes }}<br>
            published at: {{ item.published_at }}<br>
            last updated at: {{ item.updated_at }}<br>
        </div>
    </div>
    
    